:root {
  --primary-color: #D25353;
  --secondary-color:#9E3B3B ;
  --shadow-color:#EA7B7B;
  --button-color:#FFEAD3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', monospace;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/ii.jpg") center/cover no-repeat;
  filter: blur(8px);
  z-index: -1;
}

.navbar {
  background-color: var(--secondary-color);
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--button-color);
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar a:hover {
  transform: scale(0.1);
  background-color:var(--shadow-color);
  box-shadow: 0px 0px 40px var(--secondary-color);
  
}

.navbar img {

  height: 100px;
  width: 100px;  
}

.movie-list {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-list img {
  height: 400px;
  width: 250px;
  border-radius: 20px;
}
.movie-list h4 {
  width: 250px;
  height: 30px;
  margin: 5px 0;
  font-size: 16px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.movie-list h6 {
  width: 250px;
  margin: 0;
  font-size: 13px;
  text-align: center;
  background-color: var(--button-color);
  border-radius: 20px;
}

.about {
  background-color: var(--secondary-color);
  max-width: 700px;
  margin: 100px auto;
  border-radius: 20px;
  color:var(--button-color);
  padding: 20px;
  text-align: center;
  transition: 0.9s;
}
.about:hover{
box-shadow: 0px 0px 100px;
}

.about span {
  font-size: 18px;
  color: rgb(216, 175, 108);
}

.about h1 {
  font-size: 16px;
  margin-top: 20px;
}

.about h2 {
  margin-top: 30px;
  color: rgb(209, 193, 144);
}

.footer-banner {
  background-color:var(--secondary-color);
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-banner a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 3% 3%;
  border-radius: 100%;
  transition: 0.3s;
}

.footer-banner a:hover {
  background-color: wheat;
}

.footer-banner img {
  height: 30px;
  width: 30px;
}

.footer-banner h3 {
  width: 100%;
  text-align: center;
  color: #444;
}
